* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  min-height: 100%;
  width: 100%;
  position: relative;
  padding: 0 75px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
}

.nav-links ul {
  display: flex;
  list-style: none;
}
.nav-links ul li a {
  margin-left: 50px;
  text-decoration: none;
  color: #938071;
}
.nav-links .btn-secondary {
  padding: 9px 12px;
  border: 1px solid #938071;
  border-radius: 50px;
}
